@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@font-face {
    font-family: 'brandon';
    src: '../fonts/webfontkit/brandon.woff';
}
@font-face {
    font-family: 'sansb';
    src: '../fonts/sansb___.ttf';
}
.back {
  background-color: #f7ea3c;
  width: 100vw;
  height: 100vw;
  padding: 0;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.7rem;
  margin-top:1.4rem;
  padding-left:.3rem;
  color: black;
  /* color: rgb(47, 117, 247); */
}
.active {
  font-family: 'Roboto Slab', serif;
  color: black;
  font-weight: 400;
}

.inactive {
  font-family: 'Roboto Slab', serif;
  color: black;
  font-weight: 300;
}


#mynav {
  width: 100vw;
  padding-bottom: .9rem;
}
.navbar {
  width: 100%;
  padding-bottom:.1rem;
}
#userImg {
  width:40%;
  height: 40%;
  padding-bottom: .6rem;
}
.card {
  padding-bottom: 1.4rem;
  width:100%;
  height: 100%;
  background-color: white;
  /* background-color:rgb(41, 107, 250); */
  color: black;
}
/* #userImg {
  max-width: 100%;
  max-height: 100%;
} */
#edit{
  margin-top:.3rem;
  border-color: rgb(179, 177, 177);
  margin-bottom:.3rem;
  padding: 0rem;
  float: right;
  font-size: .8rem;
  color: rgb(109, 108, 108);
}
.jumbotron{
  top:1.5rem;
}
