    <div class="card">
      <div class="card-body">
        <div class="row">
              <div class="col-md-12">
                <h5 class="card-title">
                  Add Appointment
                </h5>
              </div>
        </div>
        <br>
        <div class="row">
              <div class="col-md-4">
                <label>
                  <strong>Select a reason</strong>
                </label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                      <select class="form-control">
                        <option>General Check Up</option>
                        <option>Flu-Shot</option>
                        <option>Counseling</option>
                      </select>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>
              <strong>Select a time</strong>
            </label>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6">
            Dates available this week
          </div>
          <div class="col-md-6">
            Time and Doctor
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <select class="form-control">
                    <option>04/14/18</option>
                    <option>04/15/18</option>
                    <option>04/18/18</option>
                  </select>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <select class="form-control">
                    <option>10am with Dr. Strange</option>
                    <option>10:30am with Dr. Strange</option>
                    <option>11am with Dr. Banner</option>
                  </select>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>
              <strong>Describe any symptoms</strong>
            </label>
          </div>
          <div class="col-md-8">
            <textarea class="form-control">
            </textarea>
          </div>
        </div>
        <br>
        <div class="btn btn-primary float-right">
            Submit
        </div>
      </div>
    </div>


