

	<div class="limiter">
		<div class="container-login100 d-flex h-100">
        <!-- [ngStyle]="{'background-image': 'url('+'../../assets/images/smuBg.jpg)', 'background-position': 'center', 'background-size': 'cover'}" -->
      <div class="wrap-login100 justify-content-center align-self-center">
        <div class="container col-md-5 login100-pic js-tilt" data-tilt>
            <img src="../../assets/images/happy.jpg" alt="IMG">
        </div>
        <div class="container col-md-6">
            <form class="login100-form validate-form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
              <div class="login100-form-title h-39 justify-content-center align-self-center">
                  <span class="row"> Member Login</span>
                  <div class="row" *ngIf=" alertMsg !== '' ">
                      <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> {{alertMsg}}
                      </div>
                  </div>
              </div>

              <div class="h-15 wrap1-input100 validate-input">
                <div class="justify-content-center align-self-center" data-validate = "Valid email is required: ex@abc.xyz">
                  <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input class="form-control input100" placeholder="Email" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required >
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                  </div>
                </div>
              </div>
              <div class="wrap2-input100 validate-input">
                <div class="h-15 justify-content-center align-self-center" data-validate = "Password is required">
                    <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="password" class="form-control input100" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                </div>
              </div>

              <div class="h-20 container-login100-form-btn justify-content-center align-self-center">
                  <!-- <div class="h-15 justify-content-center align-self-center"> -->
                      <div class="login100-form-btn row justify-content-center align-self-center" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                          <button id="loginButton" [disabled]="loading" (click)="login()">Login</button>
                      </div>
                  <!-- </div> -->
              </div>

              <!-- <div class="container-login100-form-btn">
                <div class="h-15 justify-content-center align-self-center">
                  <div class="form-group row">
                      <div class="login100-form-btn"><button [disabled]="loading" (click)="login()">Login</button></div>
                  </div>
                </div>
                    <button [disabled]="loading" (click)="loginDoc()" class="login100-form-btn">Doctor Login</button>
              </div> -->

                <div class="text-center p-t-12">
                  <span class="txt1">
                    Forgot
                  </span>
                  <a class="txt2" href="#" [routerLink]="['/_loginHelp']">
                    Username / Password?
                  </a>
                </div>

                <div class="text-center p-t-13">
                  <a class="txt1" [routerLink]="['/_loginHelp']" style="font-size: .68rem;" >
                    Reset Password
                  </a>
                </div>

                <div class="text-center p-t-13">
                    <a class="txt2" [routerLink]="['_register']">
                        Create your Account </a>

                </div>

              </form>
        </div>

      </div>

      <!-- <ng-template #editProf>
        <div class="modal-body">

        </div>
      </ng-template>  -->
		</div>
  </div>

