@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@font-face {
    font-family: 'brandon';
    src: '../fonts/webfontkit/brandon.woff';
}
@font-face {
    font-family: 'sansb';
    src: '../fonts/sansb___.ttf';
}

h1 {
  font-family: 'sansb';
  font-size: 2.7rem;
  margin-top:1.4rem;
  padding-left:.3rem;
  color: rgb(4, 4, 207);
}
#mynav {
  width: 100vw;
  padding-bottom: .9rem;
}
.navbar {
  width: 100%;
}
#usrImg {
  width:40%;
  height: 40%;
  padding-bottom: .6rem;
}
.card {
  margin-left: 1rem;
  width:31%;
  height: 25rem;
  background-color:rgb(47, 117, 247);
  color: black;
}
.aboutDr {
  color: black !important;
}
.profile {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.inactive{
  color:rgb(48, 47, 47);
}
.active{
  color:rgb(4, 4, 207);
}
