<div class="back">
  <div class="top">
    <div class="row" id="head">
      <img src={{imagePath}} style="height:12%; width:7%; margin-top:.8rem; margin-left:2rem; padding-bottom:.2rem;"/>
      <h1>SMU Well-Care</h1>
    </div>
    <div class="row" id="mynav">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
          <li class="nav-item inactive">
            <a class="btn" (click)="navigateToProfile()">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link inactive" [routerLink]="['/_patient-profile/_patient-appts']">Appointments<span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link inactive" [routerLink]="['_myDoctors']">My Doctors</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['_patient-settings']">Settings</a>
          </li>
          <li class="nav-item">
            <button class="btn inactive" (click)="logout()" id="logout">Logout</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
    <div class="container back">
      <div class="jumbotron">
        <h1 class="textS">Settings</h1>
        <div class="tab-content">
          <ul class="list-group">
            <button data-toggle="modal" class="list-group-item text-center" (click)="openModal(editProf)">Edit Profile</button>
            <button data-toggle="modal" class="list-group-item text-center" (click)="openModal(changePassword)">Change Password</button>
            <button data-toggle="modal" class="list-group-item text-center">Notifications</button>
          </ul>
          <br/>
        </div>
      </div>
      <app-footer></app-footer>
    </div>

    <ng-template #changePassword class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modalHeaderColor text-white">
            <h5 class="modal-title" id="modalLabel">Profile Edit</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="OldPassword">Enter Current Password</label>
                <textarea class="form-control" name="oldPass" [(ngModel)]="oldPass" rows="1" required="true" required></textarea>
              </div>
              <div class="form-group">
                <label for="newPass">Enter New Password</label>
                <textarea class="form-control" name="newPass" [(ngModel)]="newPass" rows="1" required="true" required></textarea>
              </div>
              <div class="form-group">
                <label for="newPass2">Password Confirmation</label>
                <textarea class="form-control" name="newPass2" [(ngModel)]="newPass2" rows="1" required="true" required></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div *ngIf="oldPass !== '' && newPass !== '' && newPass2 !== ''">
              <div *ngIf=" this.user.password !== this.oldPass">
                <div class="alert alert-danger" role="alert">
                  Your old password is incorrect!
                </div>
              </div>
              <div *ngIf=" this.newPass !== this.newPass2">
                <div class="alert alert-danger" role="alert">
                  Your new password must equal your confirmation password!
                </div>
              </div>
              <div *ngIf=" this.newPass == this.newPass2">
                <input class="btn btn-primary" type="submit" value="submit" (click)="changePassword()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

<ng-template #editProf>
    <div class="modal-header modalHeaderColor text-white">
            <h5 class="modal-title" id="modalLabel">Profile Edit</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <textarea class="form-control" name="firstName" [(ngModel)]="user.firstName" rows="1" required="true" required></textarea>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <textarea class="form-control" name="lastName" [(ngModel)]="user.lastName" rows="1" required="true" required></textarea>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <textarea class="form-control" name="email" [(ngModel)]="user.email" rows="1" required="true" required></textarea>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <textarea class="form-control" name="phone" [(ngModel)]="user.phone" rows="1" required="true" required></textarea>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" name="address" rows="1" [(ngModel)]="user.address" required="true" required></textarea>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <div *ngIf="user.firstName !== '' && user.lastName !== '' && user.email !== '' && user.phone !== '' && user.address !== '' ">
          <input class="btn btn-primary" data-dimiss="modal" type="submit" value="Update">
        </div>
     </div>
</ng-template> -->
