
<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="text-center">Reset Password</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <p class="">
                                    </p><div><span style="line-height: 1.42857;">Lost your password?</span>
                                        <br>
                                    </div>
                                    <div>
                                        <br>
                                    </div>
                                    <div>Type in your username and hit that Request Password Reset button, an email
                                        will be sent to the email you provided us when you signed up.</div>
                                    <div>
                                        <br>
                                    </div>
                                    <div>If you do not receive an email within an hour of you requesting a password
                                        reset, please contact support.</div>
                                    <div>
                                        <br>
                                    </div>
                                    <div>Have a nice day!</div>
                                    <div>
                                        <br>
                                    </div>
                                <p></p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control input-lg" placeholder="Username" name="usermame" type="email">
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block" (click)="reset()" type="submit">Request Password Reset</button>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn">Cancel</button>
                </div>
            </div>
        </div>

</div>
