<!-- BEGIN HEAD SECTION-->
<!DOCTYPE html>
<html lang="en">
<app-nav-bar></app-nav-bar>
<div class="jumbotron bg-white">
  <h1 class="text-muted">HIPAA</h1>
  <div class="tab-content card-body border border-top-1">
    <p>
      SMU Wellcare respects patient's and their rights to access and view their health information. We also respect their right
      to limit who can see this private information and will not break our patient's trust. Below are some of the private
      info covered by HIPAA.
    </p>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Information your doctors, nurses, and other health care providers put in your medical record</li>
      <li class="list-group-item list-group-item-info">Conversations your doctor has about your care or treatment with nurses and others</li>
      <li class="list-group-item list-group-item-info">Information about you in your health insurer’s computer system</li>
      <li class="list-group-item list-group-item-info">Billing information about you at your clinic </li>
    </ul>
    <br/>
    <p>
      For more information on your HIPPA rights, please visit the
      <a href="https://www.hhs.gov/hipaa/for-individuals/guidance-materials-for-consumers/index.html">U.S. Department of Health and Human Services</a> website for more information.
    </p>
  </div>
</div>
<app-footer></app-footer>
