<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="mx-auto d-block" src="../../assets/images/wellcare.png" alt="Logo">
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dakr bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
          <li><a class="nav-item nav-link text-white col-md-5" href="#">Patient Profile</a></li>
          <li> <a class="nav-item nav-link text-white col-md-5" href="#">Appointments</a></li>
          <li><a class="nav-item nav-link text-white col-md-5" href="#">HIPAA Rights</a></li>
          <li><a class="nav-item nav-link text-white col-md-5" href="#">Settings</a></li>
          <li> <a class="nav-item nav-link text-white col-md-5" href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>
