
<div class="container">
	<div class="row">
        <div class="span12">
    		<table class="table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                      <th colspan="7">
                        <span class="btn-group">
                          <a class="btn" ng-click="prevMonth()"><i class="icon-chevron-left"></i></a>
                        	<a class="btn active">April 2018</a>
                        	<a class="btn" ng-click="nextMonth()"><i class="icon-chevron-right"></i></a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        <th>Su</th>
                        <th>Mo</th>
                        <th>Tu</th>
                        <th>We</th>
                        <th>Th</th>
                        <th>Fr</th>
                        <th>Sa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="muted" *ngFor="let num of prevMonthFill" [hidden]="hide">
                            {{num}}
                        </td>
                        <td class="calRow1" *ngFor='let num of row1MonthDays' [hidden]='currDay < row1MonthDays.length'>
                            {{num}}
                        </td>
                        <td class="calRow1" *ngFor='let num of row1MonthDays' [hidden]='currDay > row1MonthDays.length'>
                            {{num}}
                        </td>
                    </tr>
                    <tr [hidden]='checkCurrDay(2)=== false'>
                      <td class="calRow2 containsCurrDay"  *ngFor='let num of daysUntilCurr'>
                        {{num}}
                      </td>
                      <td class="btn-primary"><strong>{{currDay}}</strong></td>
                      <td class="calRow2 containsCurrDay"  *ngFor='let num of daysPostCurr'>
                        {{num}}
                      </td>
                    </tr>
                    <tr [hidden]='checkCurrDay(2)=== true'>
                        <td class="calRow2" *ngFor='let num of [1,2,3,4,5,6,7]'>
                          {{num+row1MonthDays.length}}</td>
                    </tr>
                    <tr [hidden]='checkCurrDay(3)=== false'>
                      <td class="calRow3 containsCurrDay"  *ngFor='let num of daysUntilCurr'>
                        {{num}}
                      </td>
                      <td class="btn-primary"><strong>{{currDay}}</strong></td>
                      <td class="calRow3 containsCurrDay"  *ngFor='let num of daysPostCurr'>
                        {{num}}
                      </td>
                    </tr>
                    <tr [hidden]='checkCurrDay(3)=== true'>
                        <td class="calRow3" *ngFor='let num of [1,2,3,4,5,6,7]'>
                          {{num+7+row1MonthDays.length}}</td>
                    </tr>
                    <tr [hidden]='checkCurrDay(4)=== false'>
                      <td class="calRow4 containsCurrDay"  *ngFor='let num of daysUntilCurr'>
                        {{num}}
                      </td>
                      <td class="btn-primary"><strong>{{currDay}}</strong></td>
                      <td class="calRow4 containsCurrDay"  *ngFor='let num of daysPostCurr'>
                        {{num}}
                      </td>
                    </tr>
                    <tr [hidden]='checkCurrDay(4)=== true'>
                        <td class="calRow4" *ngFor='let num of [1,2,3,4,5,6,7]'>
                          {{num+14+row1MonthDays.length}}
                        </td>
                    </tr>
                    <tr>
                        <td class='fifthRow' *ngFor='let num of fifthRow'>
                            {{num}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
	</div>
</div>

<!-- <app-calendar></app-calendar> -->
