

<div class="back">
  <div class="row" id="head">
      <img src={{imagePath}} style="height:12%; width:7%; margin-top:.8rem; margin-left:2rem; padding-bottom:.2rem;"/>
      <h1>SMU Well-Care</h1>
  </div>
  <div class="row" id="mynav">
      <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link">My Profile <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" [routerLink]="['_doc-appts']">Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" [routerLink]="['_myPatients']">Patients</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link inactive" [routerLink]="['_drSettings']">Settings</a>
              </li>
              <li class="nav-item">
                  <button class="btn inactive" ng-click="logout()" id="logout">Logout</button>
              </li>
            </ul>
      </nav>
  </div>
  <div class="bod jumbotron bg-white">
    <div class="container row">
          <div class="col-lg-3" id="calendarWrap">
              <div class="span12">
              <table class="table-condensed table-bordered table-striped" id="calendar">
                      <thead align="center">
                          <tr style="height:2.7rem;">
                            <th colspan="7">
                              <span class="btn-group" align="center">
                                <a class="btn" ng-click="prevMonth()">
                                  <span appOcticon [octicon]="iconLeft"></span>
                                </a>
                                <h3 class="btn active">{{currMonthName}}</h3>
                                <a class="btn" ng-click="nextMonth()">
                                  <span appOcticon [octicon]="iconRight"></span>
                                </a>
                              </span>
                              <h1 class="row" align="center" style="margin-left:3.3rem; margin-top:.1rem;">{{currDay}}</h1>
                              <div class="row" class="text-center">
                                <h5 class="btn active">{{currYear}}</h5>
                              </div>
                            </th>
                          </tr>

                          <tr>
                              <th>Su</th>
                              <th>Mo</th>
                              <th>Tu</th>
                              <th>We</th>
                              <th>Th</th>
                              <th>Fr</th>
                              <th>Sa</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr [hidden]='checkCurrDay(1) === false'>
                              <td class="muted" *ngFor="let num of prevMonthFill" [hidden]="prevMonthFill === []">
                                  {{num}}
                              </td>
                              <td class="btn-light calRow1" *ngFor='let num of daysUntilCurr'>
                                  {{num}}
                              </td>
                              <td class="btn-primary currDay"><strong>{{currDay}}</strong></td>
                              <td class="btn-light calRow1" *ngFor='let num of  daysPostCurr'>
                                  {{num}}
                              </td>
                          </tr>
                          <tr [hidden]='checkCurrDay(1) == true'>
                            <td class="muted" *ngFor="let num of prevMonthFill" [hidden]="prevMonthFill === []">
                                {{num}}
                            </td>
                            <td class="btn-light calRow1" *ngFor='let num of row1MonthDays'>
                                {{num}}
                            </td>

                          </tr>
                          <tr [hidden]='checkCurrDay(2)=== false'>
                            <td class="btn-light calRow2 containsCurrDay"  *ngFor='let num of daysUntilCurr'>
                              {{num}}
                            </td>
                            <td class="btn-primary currDay"><strong>{{currDay}}</strong></td>
                            <td class="btn-light calRow2 containsCurrDay"  *ngFor='let num of daysPostCurr'>
                              {{num}}
                            </td>
                          </tr>
                          <tr [hidden]='checkCurrDay(2)=== true'>
                              <td class="btn-light calRow2" *ngFor='let num of [1,2,3,4,5,6,7]'>
                                {{num+row1MonthDays.length}}</td>
                          </tr>
                          <tr [hidden]='checkCurrDay(3)=== false'>
                            <td class="btn-light calRow3 containsCurrDay"  *ngFor='let num of daysUntilCurr'>
                              {{num}}
                            </td>
                            <td class="btn-primary currDay"><strong>{{currDay}}</strong></td>
                            <td class="btn-light calRow3 containsCurrDay"  *ngFor='let num of daysPostCurr'>
                              {{num}}
                            </td>
                          </tr>
                          <tr [hidden]='checkCurrDay(3)=== true'>
                              <td class="btn-light calRow3" *ngFor='let num of [1,2,3,4,5,6,7]'>
                                {{num+7+row1MonthDays.length}}</td>
                          </tr>
                          <tr [hidden]='checkCurrDay(4)=== false'>
                            <td class="btn-light calRow4 containsCurrDay"  *ngFor='let num of daysUntilCurr'>
                              {{num}}
                            </td>
                            <td class="btn-primary currDay"><strong>{{currDay}}</strong></td>
                            <td class="btn-light calRow4 containsCurrDay"  *ngFor='let num of daysPostCurr'>
                              {{num}}
                            </td>
                          </tr>
                          <tr [hidden]='checkCurrDay(4)=== true'>
                              <td class="btn-light calRow4" *ngFor='let num of [1,2,3,4,5,6,7]'>
                                {{num+14+row1MonthDays.length}}
                              </td>
                          </tr>
                          <tr>
                              <td class='btn-light calRow5' *ngFor='let num of fifthRow'>
                                  {{num}}
                              </td>
                          </tr>

                      </tbody>
              </table>
              </div>
        </div>
      <div class="card col-lg-9">
          <div class="card-body">
            <div class="row" style="max-width:100%">
              <div class="col-md-12">
                    <h5 class="card-title">
                       Scheduled Appointments
                    </h5>
              </div> <br>
              <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Doctor</th>
                      <th>Type</th>
                      <th>Symtoms</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>04/14/18</td>
                      <td>10am</td>
                      <td>Dr. Banner</td>
                      <td>General Check Up</td>
                      <td>Anger management, green skin pigmentation, gamma radiation exposure</td>
                      <td>
                        <div class="btn btn-secondary">
                          Edit
                        </div>
                      </td>
                      <td>
                        <div class="btn btn-danger">
                          Cancel
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
    </div>
  </div>
    <br>
    <!-- <app-patient-add-appointment></app-patient-add-appointment> -->
  </div>

</div>
  <!-- <app-calendar></app-calendar> -->
