<div class="jumbotron bg-white">
    <h2>
      Appointment Scheduler
    </h2>

    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title">
                My Appointments
              </h5>
            </div>
          </div>
          <br>
          <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Type</th>
                    <th>Symtoms</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>04/14/18</td>
                    <td>10am</td>
                    <td>Dr. Banner</td>
                    <td>General Check Up</td>
                    <td>Anger management, green skin pigmentation, gamma radiation exposure</td>
                    <td>
                      <div class="btn btn-secondary">
                        Edit
                      </div>
                    </td>
                    <td>
                      <div class="btn btn-danger">
                        Cancel
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <br>
    <app-patient-add-appointment></app-patient-add-appointment>
</div>
