<div class="align-top giantPIC" [ngStyle]="{'background-image': 'url('+'../../assets/images/giantSMU.jpg)', 'background-position': 'center', 'background-size': 'cover'}">
  <div class="align-center card" >
    <div class="card-header row">
      <img src="../../assets/images/smu_logo2.png" id="img">
      <h1>Mustang HealthCare</h1>
    </div>
    <div class="card-body">
      <div>
            <button type="button" class="btn btn-danger" [routerLink]="['_login']" id="login">Login</button>
      </div>
      <!-- <div [hidden]="disableLogin">
          <button type="button" class="btn btn-danger" [routerLink]="['_login']" id="login">Login</button>
      </div>
      <div [hidden]="!disableLogin">
          <button type="button" class="btn btn-danger"  id="login">Login</button>
      </div> -->
        <p> First-time user? <a [routerLink]="['_register']">Activate account </a></p>
        <hr>
        <h5> © Southern Methodist University, Dallas TX 75205, 214-768-2000 </h5>
    </div>
</div>
